*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100%;
    width: 100%;
}

#container{
    width: 100%;
    height: 100vh;
}

#title{
    width: 100%;
    height: 100px;
    /* background: rgb(230, 116, 116); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.image{
    width: 300px;
    padding: auto;
    background-color: #fff;
}

#main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#form{
    width: 25%;
    background: rgb(223, 219, 219);
    padding: 30px;
    /* margin: auto; */
    line-height: 40px;
    font-size: 18px;
}

.gender{
    display: flex;
    align-items: center;
}

.skill{
    display: flex;
    align-items: center;
}

