
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    color: #007bff;
}

.header {
    background-color: #fff;
    padding: 20px 0;
}

.logo, .title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 30px auto;
    gap: 30px;
    padding: 0 20px;
    align-items: center;
}

.video-section {
    flex: 1 1 400px; 
    max-width: 500px;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video-caption {
    margin-top: 10px;
    font-style: italic;
    color: #6c757d;
    text-align: center;
}



.form-container {
    margin-left: 80px;
    flex: 2 1 300px; 
    min-width: 300px;
}

.registration-form { 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
    width: 80%;
}


.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 8px; 
    padding-bottom: 3px;
    border-bottom: 1px dashed #eee;
}

.form-group label {
    font-weight: bold;
    color: #495057;
    flex: 0 0 150px;
    margin-right: 15px;
}

.form-group input:not([type="radio"]):not([type="checkbox"]), 
.form-group textarea, 
.form-group select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    min-width: 200px; 
}

.gender-options, .check-skills-options {
    display: flexbox;
    gap: 15px;
    flex: 1;
    align-items: center;
}

.gender-options label, .check-skills-options label {
    font-weight: normal;
    flex: unset; 
    margin-right: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom: none;
    padding-top: 10px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit {
    background-color: gray;
    color: white;
}

.btn-reset {
    background-color: gray;
    color: white;
}
