*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    position: relative;
}

#container{
    width: 400px;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: rgb(246, 239, 239);
    position:absolute ;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 2px 2px 20px 2px black;;
}

#title{
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    padding: 0 5%;
}

form h2{
    color: rgb(131, 127, 127);
}

.email, .password{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4%;
    margin-bottom: 10%;
    font-size: 12px;
    position: relative;
}

.einput, .pinput{
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding: 5%;
    margin-top: 5px;
}

.tick{
    height: 40px;
    /* width: 90%; */
    /* background-color: red; */
    padding-top: 5px;
    /* border: 2px solid green; */
    position: absolute;
    display: flex;
    left: 90%;
    display: none;
    align-items: center;
    justify-content: end;
    /* z-index: 1; */
}

.tick_2{
    height: 40px;
    /* width: 90%; */
    /* background-color: red; */
    padding-top: 5px;
    /* border: 2px solid green; */
    position: absolute;
    display: flex;
    left: 90%;
    display: none;
    align-items: center;
    justify-content: end;
    /* z-index: 1; */
}

.login{
    height: 40px;
    width: 100%;
    /* background-color: red; */
    margin-bottom: 40px;
}

.log{
    height: 45px;
    width: 100%;
    background-color: rgb(109, 137, 241);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
}