*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    position: relative;
}

#container{
    width: 400px;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: rgb(246, 239, 239);
    position:absolute ;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 25%);
    box-shadow: 2px 2px 30px 3px black;
}

#title{
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(57, 57, 57);
}

form{
    padding: 0 5%;
}

form h2{
    color: rgb(131, 127, 127);
}

.email, .password{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4%;
    margin-bottom: 10%;
    font-size: 12px;
}

.einput, .pinput{
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding: 5%;
    margin-top: 5px;
}

.login{
    height: 40px;
    width: 100%;
    /* background-color: red; */
    margin-bottom: 40px;
}

.log{
    height: 45px;
    width: 100%;
    background-color: rgb(52, 52, 165);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
}

.log:hover{
    cursor: pointer;
    border: 5px solid rgb(76, 96, 169);
}