*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgb(64, 63, 63);

}

#container{
    width: 100%;
    height: 100%;
}

#main-box{
    width: 40%;
    background-color: #282727;
    padding: 2% 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    min-width: 443px;
    box-shadow: 1px 1px 15px   rgb(99, 206, 99);
}

#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(91, 235, 91);
    margin-bottom: 5px;
}

#input-box{
    width: 100%;
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    /* background-color: green; */
}

#ip{
    margin-right: 10px;
    height: 45px;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 0 20px;
}

#btn{
    width: 100px;
    background-color: rgb(91, 235, 91);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

#btn:hover{
    border: 3px solid rgb(90, 152, 90);
    cursor: pointer;
}

#task-box{
    width: 100%;
    padding: 2% 2%;
    display: none;
    border: none;
}

.tsk{
    width: 100%;
    /* height: 45px; */
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid blue; */
    background-color: #FEFEFE;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #666666;
    padding: 7px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow-x: hidden;
}

#text-tsk{
    width: 50%;
}

.btn-del{
    font-size: 20px;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(250, 52, 52);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.btn-del:hover{
    cursor: pointer;
    /* border: 2px solid rgb(229, 68, 68); */
    opacity: .8;
}
